@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  background: #fff0db;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: max(50%, 500px);
  background-color: hsla(60, 1%, 23%, 0.9);
  margin: 10px auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px;
}

.Contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}

.success-message {
  font-family: 'Bahnschrift-Font-Family', sans-serif;
  background-color: #3f89f8;
  padding: 15px;
  color: white;
}

.form-field {
  width: 100%;
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 16px;
  border: 0;
  font-family: 'Bahnschrift-Font-Family', sans-serif;
  border-radius: 0.25rem;
}

.contact-form span {
  font-family: 'Bahnschrift-Font-Family', sans-serif;
  /* font-size: 14px; */
  color: red;
  margin-bottom: 15px;
}

input {
  background: #f2f2f2;
}

.error {
  border-style: solid;
  border: 2px solid #ffa4a4;
}

button {
  background: #ff8400;
  color: #131313;
  font-weight: 700;
  cursor: pointer;
  border-radius: 0.25rem;
  width: 100%;
  padding: 0.5rem;
  font-size: 2rem;
}

button:disabled {
  cursor: default;
}
