html,
body,
#root {
  font-family: 'Bahnschrift-Font-Family', sans-serif;
  font-size: 14px;
  height: 100%;
  /* background-color: cadetblue; */
}

body {
  margin: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)),
    url('./assets/background.jpg');
  background-size: cover;
  color: hsl(0, 0%, 50% / 0.9);
  padding: 0;
  line-height: 1.5;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  color: hsl(0 0% 25% 0.85);
  text-decoration: none;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

/* primary header */
.logo {
  margin: 0.2rem;
  padding: 0 20px;
}

.logo--img {
  width: 180px;
}

.header {
  display: flex;

  flex-direction: column;
}

.footer--container {
  background-color: hsla(60, 1%, 23%, 0.9);
  color: hsl(0 0% 100% / 1);
  padding: 1em;
  gap: 2em;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 1000;
}

.pages--container {
  display: flex;
  flex-direction: column;
  flex-flow: column;
  align-content: center;
  align-items: center;
  box-shadow: 2px;
}

.pages--image {
  width: 100vw;
  height: 50%;
  padding: 0;
}

.pages--text {
  width: 100vw;
  height: 50%;
  padding: 5px;
}

.pages--text--title {
  font-family: 'BAHNSCHRIFT text', sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  padding: 4%;
}
.pages--text--body {
  font-family: 'BAHNSCHRIFT text', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: justify;
  padding: 4%;
}

.social--list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.social--list li {
  margin: 0 1em;
}

.social--list li:hover {
  color: hsl(40 100% 60% / 1);
}

.social--list svg {
  color: hsl(0 0% 100%);
  font-size: 2em;
  cursor: pointer;
}

.primary--header {
  align-items: center;
  background-color: hsla(60, 1%, 23%, 0.9);
  justify-content: space-between;
  color: hsl(0 0% 100%);
}

.mobile--nav--toggle {
  display: none;
}

.primary--navigation {
  font-size: 1.5rem;
  list-style: none;
  padding: 0;
  margin: 0;

  background: hsl(0 0% 0% / 0.75);
}

@supports (backdrop-filter: blur(1rem)) {
  .primary--navigation {
    background: hsl(0 0% 100% / 0.1);
    backdrop-filter: blur(1rem);
  }
}

.primary--navigation a {
  text-decoration: none;
  color: hsl(0 0% 100%/ 1);
}

.primary--navigation a > [aria-hidden='true'] {
  font-weight: 700;
  padding: 0 0.3rem;
  margin-inline-end: 0.75em;
}

@media (max-width: 65em) {
  .primary--navigation {
    --gap: 2rem;
    font-size: 2.2em;

    position: fixed;
    z-index: 1000;
    inset: 0 0 0 40%;

    flex-direction: column;
    padding: min(15vh, 7rem) 2em;

    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .pages--text--body {
    font-size: 2.1rem;
  }

  .primary--navigation a {
    color: hsl(0 18% 3% / 1);
  }

  .primary--navigation[data-visible='true'] {
    transform: translateX(0%);
  }

  .mobile--nav--toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background: url('assets/shared/menu_white_36dp.svg');
    background-size: cover;
    border: 0;

    width: 4rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
  }

  .mobile--nav--toggle[aria-expanded='true'] {
    background-image: url('assets/shared/close_white_36dp.svg');
  }
}
@media (min-width: 65em) {
  .pages--container {
    flex-direction: row;
  }

  .pages--image {
    width: 50%;
    height: 75vh;
    padding: 0;
  }

  .pages--text {
    width: 50%;
    height: 75vh;
    padding: 5px;
  }
  .pages--text--body {
    font-size: 1.5rem;
  }

  .primary--navigation {
    --gap: 2rem;
    padding-block: 2rem;
    padding-inline: clamp(3rem, 5vw, 10rem);
  }

  @media (min-width: 65em) and (max-width: 85em) {
    .primary--navigation a > span[aria-hidden] {
      display: none;
    }

    .pages--container {
      flex-direction: row;
    }
    .pages--image {
      width: 50%;
      height: 75vh;
      padding: 0;
    }

    .pages--text {
      width: 50%;
      height: 75vh;
      padding: 5px;
    }

    .pages--text--body {
      font-size: 1.3rem;
    }
  }
}
